

/** Seletor universal 

*{

	border: 1px solid red;
} 



/** Seletor de texto 

h1{

	color: green;
}

/** Seletor de classe 

p.verde{

	color: green;
}

*/ 

/** Seletor de ID 

#cabecalho{

	border: 1px solid blue;
}

*/ 

/** Seletor de filho 

li>a {

	color: red;
	text-decoration: none;
}

*/

/** Seletor de descendente 

div a {

	color: green;

}

*/

/** Seletor de irmão adjacente 

h1+p {

	color: red;
}

*/

/** Seletor de irmão geral 

h1~p {

	color: pink;
}

*/

/** Herança e Especificidade */

* {
	color: red;	
}

h2{					 /* Ordem de precedência (3) */

	color: blue;
}

h2.verde{			  /* Ordem de precedência (2) */

	color: green;
}

h2#amarelo{           /* Ordem de precedência (1) */

	color: yellow;
}
